
<br><h3>Workflow</h3><br>

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <%= image_tag('graph.jpg', size: '600x600', alt: 'workflow') %>
    </div>
    <div class="col-md-3">
    </div>
</div>
